@import './base.css';

/* Rich content styling for v-html blocks */
.rich-content strong {
  color: #ffffff; /* white */
  font-weight: 700;
	border-radius: 0.25rem;
}

.rich-content li {
	margin-left: 1.25rem;
}

.rich-content ul,
.rich-content ol {
	list-style: disc;
}


