@import './base.css';

/* Rich content styling for v-html blocks */
.rich-content strong {
	color: rgb(96 165 250 / 1); /* tailwind sky-400 */
	font-weight: 700;
	padding: 0 0.15rem;
	border-radius: 0.25rem;
}

.rich-content li {
	margin-left: 1.25rem;
}

.rich-content ul,
.rich-content ol {
	list-style: disc;
}


